.presentation-slider {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto; /* Centre le carrousel horizontalement */
    padding-top: 50px;
}

.slick-slide {
    position: relative;
}

.image_presentation {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Ajoutez une bordure arrondie aux images si vous le souhaitez */
}

/* Styling des points indicateurs (dots) */
.slick-dots {
    position: absolute;
    bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 10px;
    background-color: #bbb; /* Couleur des dots inactifs */
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background-color: #fff; /* Couleur du dot actif */
}

.presentation {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.image_presentation {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Couleur de l'overlay avec opacité */
    color: white;
}

.overlay h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto 20px;
    align-items: center;
    text-align: center;
}

.overlay .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.overlay .btn:hover {
    background-color: #2980b9;
}
